html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}



:root {
    --deep-space: #0f0c29;
    --cosmic-purple: #302b63;
    --night-blue: #24243e;
    --stardust-pink: #ff6e7f;
    --celestial-gold: #ffd700;
  }
  
  body {
    color: white;
    background: var(--deep-space);
  }

  @font-face {
    font-family: 'Space Age';
    src: url('/fonts/space_age.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  h1, h2, h3 {
    font-family: 'Space Age', sans-serif;
  }